* {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  max-width: 1140px;
  margin: auto;
}

.title {
  color: #8c85f1;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.tools_raw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 800px;
}

.tools_item {
  width: 100%;
  min-height: 500px;
  margin-bottom: 500px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools_img {
  width: 500px;
  height: 300px;
}

.tools_name {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
}

.tools_price {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
}

.tools_button {
  background-color: inherit;
  border: 1px solid #8c85f1;
  color: #8c85f1;
  padding: 23px 74px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 440px;
  font-family: "Proxima Nova";
}

.tools_button:hover {
  background-color: #8c85f1;
  color: #ffffff;
  transition: 0.3s;
}
